@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: iranyekan;
    src: url(../font/IRANYekanWeb.eot);
    src: url(../font/IRANYekanWeb.ttf);
    src: url(../font/IRANYekanWeb.woff);
    src: url(../font/IRANYekanWeb.woff2);
    
}
@font-face {
    font-family: bnazanin;
    src: url(../font/bnazanin/B-NAZANIN.TTF);
}